.login-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100%;
}

.login-container-hidden {
	display: none;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 60vh;
}

.login-inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	border-radius: 10%;
	padding: 2em 4em;
	width: 25vw;
	height: 50vh;
}

.login h1,
p {
	color: #0076be;
}

.login h1 {
	font-size: 2.5em;
	font-weight: 600;
}

.login-text {
	padding: 0.5em;
}
/* form section */
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 3em;
	width: 90%;
	height: 10rem;
}

.form-headers {
	color: black;
	padding: 0.8em 0;
}

.input-boxes {
	border-radius: 30px;
	border: 2px solid #2d76b8;
	padding: 0.5em;
}

.login-button {
	width: 15em;
	padding: 0.5em;
	margin-top: 2rem;
	border-radius: 30px;
	background-color: #f6f6f6;
	border: 1px solid #2d76b8;
	color: #2d76b8;
	font-weight: 600;
}

.quote-button {
	width: 15em;
	padding: 0.5em;
	border-radius: 30px;
	background-color: #f6f6f6;
	border: 1px solid #2d76b8;
	color: #2d76b8;
	font-weight: 600;
}

.login-button:hover,
.quote-button:hover {
	background-color: #2d76b8;
	color: white;
}

.insurance-text {
	color: black;
	padding: 0.5em;
}
